<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Sobre</title>
</head>
<style>
    p{
        font-size: 25px;
        background-color: blue;
        color: white;
        text-align: center;
        height: 100px;
        width: 800px;
    }
    
</style>
<body>
    <h1>Flask</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem tenetur reiciendis facere, culpa aperiam molestiae amet tempora enim. Consequuntur quo veniam incidunt ab tempora beatae facilis adipisci, obcaecati nisi omnis!</p>

</body>
</html>